spring:
  h2:
    console:
      enabled: true

  datasource:
    generate-unique-name: true
    url: jdbc:h2:mem:test
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none